body {
    background-color: navy;
    color: white;
    align-content: center;
    text-align: center
}

#cat-caro {
    align-content: center;
    width: 50%;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    opacity: 0.9;
    margin: auto;

}
.cat-image {
    width: 200px;
    height: 200px;
}